{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title of the Page -->
    <title>{{title}}</title>

    <!-- Link CSS Style Sheet -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <body>
    <!-- Here Header Start -->
    <header>
      <!-- Logo -->
      <div class="logo"><img src="/static/logo.png" alt="Logo" /></div>

      <ul class="utility">
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Appointment</a> </li>
        <li><a href="/doccard">our Doctor</a> </li>

        <li><a href="/confirm">view Appointment Detail</a> </li>
       
        <li><a href="{% url 'logout'%}" class="btn4">Logout</a></li>

       
      </ul>
    </header>
    <!-- <marquee>
      {% for news_item in news %}
        {{ news_item }}
      {% endfor %}
    </marquee> -->
    

    <!-- Stethoscope Image or Backgrond Image -->
        <img src="/static/stethoscope.png" class="bgc">

    <!-- Here Hero Section or Main Section Start -->
    <main class="heroSection">
      <!-- Here Left Hero Section Start-->
      <section class="leftHero">

        <!-- Top angle Image or Arrow -->
        <img src="/static/topAngle.png">

        <!-- Main Heading -->
        <h1 class="heading">
          Complete Health<br />
          Care Solutions for <br />Everyone
        </h1>

        <!-- Sub Heading -->
        <p class="subHeading">
          We're always available for our Patients with emergen problems. You can
          easily <br />reach us 24/7. We focused on highest quality.
        </p>

        <!-- Make Appointment Buttoom -->
        <button class="bigBtn"><a href="/contact">Appointment</a> </button>

        <!-- Bottom Angle Image -->
        <img src="/static/bottomAngle.png" class="bottomAngle">


        <!-- Mouse Image -->
        <img src="/static/mouse.png" class="mouseImage">
      </section>

      <!-- Here Right Hero Section Start -->
      <section class="rightHero">
        <!-- Green Ball or Bgc -->
        <div class="greenBox"><img src="/static/greenBox.png" /></div>

        <!-- Yellow Box -->
        <div class="yellowBox"><img src="/static/yellowBox.png" /></div>

        <!-- DR Sahab ki I Image -->
        <div class="drImage"><img src="/static/doctor.png" /></div>
      </section>
    </main>
  </body>
</html>
