/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  header {

    color: #fff;
    padding: 10px 20px; /* Adjusted padding for better spacing */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Align items with space between */
    align-items: center; /* Center items vertically */
  }
  
  /* Logo styles */
  .logo img {
    height: 50px;
    width: auto;
  }
  
  /* Utility styles */
  .utility {
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  .utility li {
    display: inline;
    margin-right: 20px;
  }
  
  .utility li:first-child {
    margin-left: 0; /* Remove left margin for the first list item */
  }
  
  .utility li a {
    color: black;
    text-decoration: none;
  }
  
  .signup-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea,
  input[type="number"],
  input[type="date"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  select {
    height: 40px;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  